<mat-toolbar class="mat-toolbar">
  <span><img src="/assets/rent-car.png" height=60 width=60 routerLink="/home" routerLinkActive="active"></span>
  <span></span>
  <a mat-button routerLink="/home" routerLinkActive="active" class="mat-button"><span class="fa fa-home fa-lg" color="background-moredark" style="color:white"  aria-hidden="true">  Home </span></a>

  <span class="espacamento-toolbar"></span>
  <a mat-button  routerLink="/login"  routerLinkActive="active" class="mat-button"><span class="fa fa-user" color="background-moredark" style="color:white"  aria-hidden="true"> Login</span></a>
  <a mat-button  routerLink="/cadastro-usuario"  routerLinkActive="active" class="mat-button"><span class="fa fa-user-plus" color="background-moredark" style="color:white"  aria-hidden="true"> Cadastro </span></a>
  <a mat-button class="mat-icon-button" routerLink="/reservations" routerLinkActive="active"><span class="fa fa-car" color="background-moredark" style="color:white"  aria-hidden="true">  Minhas reservas </span></a>

</mat-toolbar>

<div class="container jumbotron"
   fxLayout="row"
   fxLayout.sm="column"
   fxLayout.xs="column"
   fxLayoutAlign.xs="start center"
   fxLayoutAlign.sm="start center"
   fxLayoutAlign.gt-sm="center center"
   fxLayoutGap="20px"
>

